<ul class="nav">
  {% assign menu = site.pages | where:'parent','' | where:'lang',page.lang | sort:'order' %}
  {% for item in menu %}
    {% assign submenu = site.pages | where: 'parent',item.ref | where:'lang',page.lang | sort:'order' %}
    {% assign submenu_size = submenu | size %}
    {% if submenu_size > 0 %}
      <li class="dropdown">
        <a href="{{ item.url | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
          {{ item.title }}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown">
            <a href="{{ item.url | relative_url }}">
              {{ item.title }}
            </a>
          </li>
          {% for subitem in submenu %}
            <li>
              <a href="{{ subitem.url | relative_url }}">
                {{ subitem.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li>
        <a href="{{ item.url | relative_url }}">
          {{ item.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<a class="btn btn-primary pull-right" data-toggle="modal" href="#webcam-modal">{{ i18n "Webcam" }}</a>
<a class="btn btn-primary pull-right" data-toggle="modal" href="#reservation-modal" data-target="#reservation-modal" data-remote="{{ .Site.Params.reservationform }}">{{ i18n "Book Now!" }}</a>
