<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ '/assets/img/apple-touch-icon.png' | relative_url }}">
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url | relative_url }}" />
{% endfor %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/css/flag-icon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="{{ '/assets/js/respond.min.js' | relative_url }}"></script>
<![endif]-->
<meta property="og:title" content="Durobeach">
<meta property="og:type" content="hotel">
<meta property="og:url" content="{{ site.base }}">
<meta property="og:image" content="{{ '/assets/img/logo.png' | absolute_url }}">
<meta property="og:site_name" content="Durobeach">
<meta property="fb:admins" content="638271527">
<meta property="fb:app_id" content="227131850192">
<meta property="og:description" content="A Hotel and Kite Center in Cumbuco, Brazil.">
