<div class="top">
  <div class="top-wrapper">
    <div class="image">
      {% for image in page.top.images %}
        <img src="{{ image | relative_url }}" alt="" />
      {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 main-left">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="col-lg-3 col-md-4 invisible-sm invisible-xs main-right">
      <h3>{{ site.data.i18n['Facebook'][page.lang] }}</h3>
      {% include common/facebook/page.html %}
    </div>
  </div>
</div>
