<div class="top">
  <div class="top-wrapper">
    <div class="image">
      {% for image in page.top.images %}
        <img src="{{ image | relative_url }}" alt="" />
      {% endfor %}
    </div>
  </div>
</div>
<div class="main">
  <div class="main-wrapper">
    <div class="main-left">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="main-right">
      <h3>{{ site.data.i18n['Facebook'][page.lang] }}</h3>
      {% include/body/facebook/page.html %}
    </div>
  </div>
</div>
