<div class="top">
  <div class="top-wrapper">
    <div class="image">
      {% for image in page.top.images %}
        <img src="{{ image | relative_url }}" alt="" />
      {% endfor %}
    </div>
  </div>
</div>
<div class="main">
  <div class="main-wrapper">
    <div class="left">
      <div>
        {{ content }}
        {% include body/facebook-like2.html %}
      </div>
      <div>
        {% include body/facebook-comments.html %}
      </div>
    </div>
    <div class="right">
      <div>
        <h3>{{ site.data.i18n['Find us on Facebook'][page.lang] }}</h3>
        {% include/body/facebook-page.html %}
      </div>
      <div>
        {% include body/tripadvisor-recommended.html %}
    </div>
  </div>
</div>
