<div id="TA_certificateOfExcellence661" class="TA_certificateOfExcellence">
  <ul id="6VET4DdZZ" class="TA_links X6lXJ4Q">
    <li id="ztoUbGtPnwT" class="7kg5Pi2x">
      <a target="_blank" href="{{ site.data.languages[page.lang].tripadvisor_url }}/Hotel_Review-g657869-d1870148-Reviews-Duro_Beach_Hotel-Cumbuco_Caucaia_State_of_Ceara.html">
        <img src="{{ site.data.languages[page.lang].tripadvisor_url }}/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/>
      </a>
    </li>
  </ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=661&amp;locationId=1870148&amp;lang={{ page.lang }}&amp;year=2016&amp;display_version=2"></script>
