<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}"" type="image/x-icon">
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url | relative_url }}" />
{% endfor %}
<meta property="og:title" content="Durobeach">
<meta property="og:type" content="hotel">
<meta property="og:url" content="{{ site.base }}">
<meta property="og:image" content="{{ '/assets/img/logo.png' | absolute_url }}">
<meta property="og:site_name" content="Durobeach">
<meta property="fb:admins" content="638271527">
<meta property="fb:app_id" content="227131850192">
<meta property="og:description" content="A Hotel and Kite Center in Cumbuco, Brazil.">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
<script type="text/javascript">
  FACEBOOK_APP_ID = '{{ site.facebookappid }}';
  FACEBOOK_REDIRECT_URL = '{{ site.facebookredirecturl }}';
  FACEBOOK_CHANNEL_URL = '{{ site.facebookchannelurl }}';
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.googleanalytics}}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
