<script>
  jQuery(function($) {
    $('form[data-async]').on('submit', function(event) {
      event.preventDefault();
      var $form = $(this);
      var $target = $($form.attr('data-target'));
      $.ajax({
        url: $form.attr('action'),
        method: $form.attr('method'),
        data: $form.serialize(),
        dataType: 'json',
        success: function(data, textStatus) {
          $target.html("Thank you for your reservation. We will contact you as soon as possible!");
        },
        error: function(xhr, textStatus, errorThrown) { alert('Failed to send email...'); }
      });
    });
  });
</script>
