---
---
$icon-font-path: "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/fonts";

@import "bootstrap";
@import "fontawesome";

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-right-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
}

html {
  font-family: $font-family-sans-serif;
}

.logo {
  height: 120px;
}

.navbar .nav > li > a {
  text-transform: uppercase;
}

.languages {
  text-align: right;
}

.languages > li {
  display: block;
}

ul.social {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

ul.social > li {
  display: inline;
}

ul.social > li > a {
  color: #888888;
  transition: 0.5s;
}

ul.social > li > a:hover {
  color: #343434;
}

nav.navbar {
  margin: 0;
}

$booking-width: 122px;

.navbar-nav > li.booking {
  width: $booking-width;
}

.navbar-nav > li > a.booking {
    background: #888888;
    color: #fff;
    transition: 0.5s;
}

.navbar-nav > li.booking > a.booking:after {
    position: absolute;
    bottom: -35px;
    left: 0px;
    z-index: 999;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid #888888;
    border-right: $booking-width / 2 solid transparent;
    border-left: $booking-width / 2 solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    transition: 0.5s;
}

.navbar-nav > li.booking:hover > a.booking {
    background: #333333;
    color: #fff;
    transition: 0.5s;
}

.navbar-nav > li.booking:hover > a.booking:after {
    border-top: 15px solid #333333;
    transition: 0.5s;
}

.navbar-nav > li.booking > a.booking .fa-calendar {
    margin-left: 10px;
}

.cycle-slideshow {
  width: 100%;
 }

.cycle-slideshow img {
  width: 100%;
  height: auto;
}

.cycle-prev, .cycle-next {
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
.cycle-prev {
  left: 0;
}
.cycle-next {
  right: 0;
  text-align: right;
}

.cycle-prev:hover, .cycle-next:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

.cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
}

.cycle-pager span {
    font-family: arial;
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}
.cycle-pager span.cycle-pager-active {
  color: #D69746;
}

.cycle-pager > * {
  cursor: pointer;
}

.main-left table {
  @extend .table;
  @extend .table-bordered;
}

.tripadvisor-center {
  text-align: center;
}

.tripadvisor-center > div > div {
  display: inline-block;
}

.tripadvisor-right {
  text-align: right;
}

.tripadvisor-right > div > div {
  display: inline-block;
}

.fb-iframe-widget * {
  width: 100%;
}

.reservation-modal-button {
  width: 100%;
  margin-bottom: 10px;
}

.reservation-model-image {
  width: 100%;
}

footer {
  margin-top: 10px;
  background: url("/assets/img/footer.jpg") no-repeat center center;
  background-size: cover cover;
}

.tripadvisor {
  background-color: rgba(255,255,255,0.7);
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom {
  background-color: rgba(0,0,0,0.7);
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom p {
  color: #fcfcfc;
}

.location {
  width: 100%;
}
