---
---
$icon-font-path: "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/fonts";

@import "bootstrap";
@import "fontawesome";

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-right-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
}

html {
  font-family: $font-family-sans-serif;
}

.navbar-brand {
  padding: 0px;
  height: 120px;
}

.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}

.navbar .nav > li > a {
  text-transform: uppercase;
}

.social-list{
    list-style: none;
    padding: 0;
}

.social-list > li {
  display: inline;
  margin-left:10px;
}

.social-list > li > a {
  background: #D8D8D8;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 3px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.social-list > li > a:hover {
  background: #34271C;
}

.header-logo {
  @extend .col-md-3;
}

.header-social {
  @extend .col-md-9;
  float: left;
  margin: 35px 0 0 0;
}

.navbar-nav > li.booking {
  width: 120px;
}

.navbar-nav > li > a.booking {
    font-size: 17px;
    text-transform: uppercase;
    background: #EC8222;
    color: #fff;
    transition: 0.5s;
}

.navbar-nav > li.booking > a.booking:after {
    position: absolute;
    bottom: -35px;
    left: 0px;
    z-index: 999;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid #EC8222;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    transition: 0.5s;
}

.navbar-nav > li.booking:hover > a.booking {
    background: #FFAA5C;
    transition: 0.5s;
}

.navbar-nav > li.booking:hover > a.booking:after {
    border-top: 15px solid #FFAA5C;
    transition: 0.5s;
}

.navbar-nav > li.booking > a.booking .fa-calendar {
    margin-left: 10px;
}

.main {
  @extend .container;
}

.main-wrapper {
  @extend .row;
}

.main-left {
  @extend .col-md-9;
}

.main-left table {
  @extend .table;
  @extend .table-bordered;
}

.main-right {
  @extend .col-md-3;
}

.tripadvisor-center {
  text-align: center;
}

.tripadvisor-center > div > div {
  display: inline-block;
}

.tripadvisor-right {
  text-align: right;
}

.tripadvisor-right > div > div {
  display: inline-block;
}

.fb-iframe-widget * {
  width: 100%;
}
