<footer>
  <div class="tripadvisor">
    <div class="container">
      <div class="row">
        <div class="tripadvisor-left col-lg-2 visible-lg">
          {% include common/tripadvisor/coe.html %}
        </div>
        <div class="tripadvisor-center col-md-12 col-lg-8">
          {% include common/tripadvisor/review.html %}
        </div>
        <div class="tripadvisor-right col-lg-2 visible-lg">
          {% include common/tripadvisor/rating.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <p>Rua Beatriz Correia 64</p>
          <p>Praia de Cumbuco</p>
          <p>Cep: 61619-115</p>
          <p>Caucaia</p>
          <p>Ceara</p>
          <p>Brasil</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <p>T: +55 85 33187213</p>
          <p>T: +55 85 987134345</p>
          <p>E: contact@durobeach.com</p>
          <p>E: kiteschool@durobeach.com</p>
          <p>E: eventos@durobeach.com</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-6">
          <p>
            <a href="{{ "/" | append:page.lang | append:"/events/" | relative_url }}">{{ site.data.i18n['Events'][page.lang] &amp; site.data.i18n['Weddings'][page.lang] }}</a>
          </p>
          <p>
            <a href="{{ "/" | append:page.lang | append:"/travel-info/" | relative_url }}">{{ site.data.i18n['Useful Travel Info'][page.lang] }}</a>
          </p>
          <p>
            <a href="{{ "/" | append:page.lang | append:"/contact/" | relative_url }}">{{ site.data.i18n['Location'][page.lang] }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
