<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <img class="logo" src="{{ "/assets/img/logo_DB.svg" | relative_url }}" alt="Durobeach logo" />
        <img class="logo" src="{{ "/assets/img/logo_DG.svg" | relative_url }}" alt="Durobeach logo" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
        <ul class="social">
          <li>
            <a class="social-tripadvisor" role="button" href="https://www.tripadvisor.co.uk/Hotel_Review-g657869-d1870148-Reviews-Duro_Beach_Hotel-Cumbuco_Caucaia_State_of_Ceara.html" target="blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-tripadvisor fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="social-email" role="button" href='m&#97;il&#116;o&#58;%&#54;3o%6Et%&#54;&#49;&#37;63%74&#64;d&#117;r&#111;%62%65%61&#37;63h&#46;%63&#37;6&#70;m'>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="social-twitter" role="button" href="https://www.twitter.com/durobeach/" target="blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="social-instagram" role="button" href="https://www.instagram.com/durobeach/" target="blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="social-facebook" role="button" href="https://www.facebook.com/durobeachcumbuco" target="blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="social-skype" role="button" href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="social-phone" role="button" href="tel:+558533187213">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
        <ul class="languages">
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
            <li>
              <a href="{{ page.url }}" class="{{ page.lang }}">
                {{ site.data.languages[page.lang].name }}
                <span class="flag-icon flag-icon-{{ site.data.flags[page.lang] }}"></span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
