<div id="reservation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Durobeach {{ site.data.i18n.['Reservation'][page.lang] }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h3>Durobeach {{ site.data.i18n.['Reservation'][page.lang] }}</h3>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a class="btn btn-default reservation-modal-button" href="#" role="button" data-toggle="modal" data-target="#reservation-durobeach">
            <p>
              Book a Sea View Suite
            </p>
            <p>
              <img class="reservation-modal-image" src="{{ "/assets/img/DB.svg" | relative_url }}" alt="Durobeach" />
            </p>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-default reservation-modal-button" href="#" role="button" data-toggle="modal" data-target="#reservation-durogarden">
            <p>
              Book a Garden View Suite
            </p>
            <p>
              <img class="reservation-modal-image" src="{{ "/assets/img/DG.svg" | relative_url }}" alt="Durogarden" />
            </p>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-default reservation-modal-button" href="#" role="button" data-toggle="modal" data-target="#reservation-info">
            <p>
              Contact us
            </p>
            <p>
              <img class="reservation-modal-image" src="{{ "/assets/img/info.svg" | relative_url }}" alt="Info" />
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="reservation-durobeach" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Durobeach {{ site.data.i18n.['Reservation'][page.lang] }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h3>Book a Sea View Suite</h3>
      </div>
      <script async type="text/javascript" data-form-id="5841aa6d7f7f9" data-lang="{{ page.lang }}" src="https://secured.sirvoy.com/widget/sirvoy.js"></script>
      <div class="modal-body">
        <h4>Cancellation Policy</h4>
        <p>
          If cancelation is done until 21 days prior to arrival date, we will charge a cancelation fee of 15% of the downpayment.
        </p>
        <p>
          If cancelation is done between 21 days and 7 days prior to arrival date, we will charge a cancelation fee of 50% of the downpayment.
        </p>
        <p>
          If cancelation is done within 7 days or less of the arrival date, there will be no refund of the downpayment.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="reservation-durogarden" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Durobeach {{ site.data.i18n.['Reservation'][page.lang] }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h3>Book a Garden View Suite</h3>
      </div>
      <script async type="text/javascript" data-form-id="58a20d1feb4ac" data-lang="{{ page.lang }}" src="https://secured.sirvoy.com/widget/sirvoy.js"></script>
      <div class="modal-body">
        <h4>Cancellation Policy</h4>
        <p>
          If cancelation is done until 21 days prior to arrival date, we will charge a cancelation fee of 15% of the downpayment.
        </p>
        <p>
          If cancelation is done between 21 days and 7 days prior to arrival date, we will charge a cancelation fee of 50% of the downpayment.
        </p>
        <p>
          If cancelation is done within 7 days or less of the arrival date, there will be no refund of the downpayment.
        </p>
      </div>
    </div>
  </div>
</div>


<div id="reservation-info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Durobeach {{ site.data.i18n.['Reservation'][page.lang] }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h3>Contact Us</h3>
      </div>
      <form id="reservation-form" data-async data-target="#reservation-modal-body" method="post" action="//formspree.io/booking@durobeach.com" class="form-horizontal">
        <div id="reservation-modal-body" class="modal-body">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_name">{{ site.data.i18n.['Name'][page.lang] }}</label>
              <div class="col-sm-9">
                <input id="id_name" name="name" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_email">{{ site.data.i18n.['Email'][page.lang] }}</label>
              <div class="col-sm-9">
                <input id="id_email" name="email" type="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_telephone">{{ site.data.i18n.['Telephone'][page.lang] }}</label>
              <div class="col-sm-9">
                <input id="id_telephone" name="telephone" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_check_in">{{ site.data.i18n.['Check in'][page.lang] }}</label>
              <div class="col-sm-9">
                <input class="datepicker" data-date-format="dd/mm/yyyy" data-provide="datapicker-inline" id="id_check_in" name="check_in" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_check_out">{{ site.data.i18n.['Check out'][page.lang] }}</label>
              <div class="col-sm-9">
                <input class="datepicker" data-date-format="dd/mm/yyyy" data-provide="datapicker-inline" id="id_check_out" name="check_out" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_occupancy">{{ site.data.i18n.['Occupancy'][page.lang] }}</label>
              <div class="col-sm-9">
                <select id="id_occupancy" name="occupancy">
                  <option value="2" selected="selected">{{ site.data.i18n.['Double occupancy'][page.lang] }}</option>
                  <option value="1">{{ site.data.i18n.['Single occupancy'][page.lang] }}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_room_arrangement">{{ site.data.i18n.['Room arrangement'][page.lang] }}</label>
              <div class="col-sm-9">
                <select id="id_room_arrangement" name="room_arrangement">
                  <option value="2" selected="selected">{{ site.data.i18n.['Two single beds'][page.lang] }}</option>
                  <option value="1">{{ site.data.i18n.['One King-Size bed'][page.lang] }}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="id_comment">{{ site.data.i18n.['Comment'][page.lang] }}</label>
              <div class="col-sm-9">
                <textarea rows="10" cols="40" id="id_comment" name="comment"></textarea>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-danger btn-large" data-dismiss="modal">{{ site.data.i18n.['Cancel'][page.lang] }}</a>
          <input type="submit" class="btn btn-primary btn-large" value="{{ site.data.i18n['Submit'][page.lang] }}">
        </div>
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_format" value="plain" />
        <input type="hidden" name="_subject" value="New reservation" />
      </form>
    </div>
  </div>
</div>
