<div id="webcam-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="pull-right" data-dismiss="modal">×</button>
      <h3>{{ site.data.i18n['Durobeach Webcam'][page.lang] }}</h3>
  </div>
  <div class="modal-body">
    <div class="tab-content">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="620" height="440">
        <param name="movie" value="http://www.alsolnet.com/stream/freewaves/video640.swf">
        <param name="FlashVars" value="cam=2&puerto=8099" />
        <param name="quality" value="high">
        <embed src="http://www.alsolnet.com/stream/freewaves/video640.swf" FlashVars="cam=2&puerto=8099" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="620" height="440"></embed>
      </object>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary btn-large">{{ site.data.i18n['Book Now'][page.lang] }}</a>
    <a href="#" class="btn btn-danger btn-large" data-dismiss="modal">{{ site.data['Close'][page.lang] }}</a>
  </div>
</div>
