  <div id="TA_rated740" class="TA_rated">
    <ul id="rrJwD90OcTs" class="TA_links aV70mc">
      <li id="NOhD4E0" class="DqcgckSJMj5">
        <a target="_blank" href="{{ site.data.languages[page.lang].tripadvisor_url }}/">
          <img src="{{ site.data.languages[page.lang].tripadvisor_url }}/img/cdsi/img2/badges/ollie-11424-2.gif" alt="TripAdvisor"/>
        </a>
      </li>
    </ul>
  </div>
  <script src="https://www.jscache.com/wejs?wtype=rated&amp;uniq=740&amp;locationId=1870148&amp;lang={{ page.lang }}&amp;display_version=2"></script>
