<div id="TA_selfserveprop794" class="TA_selfserveprop">
  <ul id="fMc912iyrq7g" class="TA_links fpSeoP3r3P">
    <li id="kSRHs2h" class="pdN6J0sc3l">
      <a target="_blank" href="https://www.tripadvisor.co.uk/">
        <img src="https://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/>
      </a>
    </li>
  </ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=794&amp;locationId=1870148&amp;lang={{ page.lang }}&amp;rating=false&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=true&amp;border=true&amp;display_version=2">
</script>
